{% extends "base_page.html" %}
{% load static %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/home.css' %}" />
  <style>
      .home-background-image {
          /* This is a temp image. It will likely be replaced later */
          background: url("{% static 'portfolio/cover_background.jpg' %}") no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="site-wrapper home-background-image">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        {% include 'navbar.html' %}
        <div class="inner cover">
          <h1 class="cover-heading">ClayBens Ceramics</h1>
          <p class="lead">I love ceramics...blah blah blah.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_js %}
  <script src="{% static 'portfolio/home.js' %}"></script>
{% endblock %}
